<header class="siteHeader" id="siteHeader">
<div class="wrap headerRow">
<a aria-label="בית" class="logo" href="index.html">
<img alt="לקנות ללא אכזריות" class="logoImg" height="40" src="assets/img/logo.png" width="40"/>
<span class="logoText">לקנות ללא אכזריות</span>
</a>
<nav aria-label="ניווט ראשי" class="nav">
<a class="" href="index.html">בית</a>
<a class="" href="todays-top-deals.html">דילים</a>
<a class="" href="products.html">מוצרים</a>
<a class="" href="bundles.html">באנדלים</a>
<a class="" href="shopping-calendar.html">סיילים</a>
<a class="" href="israeli-brands.html">ישראל</a>
<a class="" href="recommended-brands.html">חו״ל</a>
<a class="" href="vegan-in-israel.html">טבעוני</a>
<a class="" href="hidden-gems-map.html">מפה</a>
<a class="" href="wall-of-kindness.html">קהילה</a>
<a class="" href="ingredient-detective.html">רכיבים</a>
<a class="" href="learn.html">מידע</a>
<a class="" href="about.html">אודות</a>
<a class="" href="contact.html">קשר</a>
</nav>
</div>
</header>
